fastapi
uvicorn
sqlalchemy
sqlmodel
sentry_sdk
pyjwt==2.3.0
passlib[bcrypt]
#psycopg2
psycopg[binary]
psycopg[pool]
flask
pydantic
pydantic-core
pydantic-settings
emails
starlette
tenacity
typing_extensions